@media (max-width:1200px) {

    .header-delivery,
    .header-work_time,
    .header-acc {
        display: none;
    }

    .header-check {
        margin-left: auto;
    }
}

@media (max-width:1140px) {
    .map-genInput {
        width: 100%;
        max-width: max-content;
    }
}

@media (max-width:991px) {
    .card-h3 h3 {
        font-size: 20px;
        line-height: 20px;
    }

    .card-p p {
        font-size: 16px;
        line-height: 18px;
    }

    .btns a {
        height: 40px;
        padding: 0 20px;
        font-size: 15px;
    }

    .btns span {
        margin-left: 92px;
        font-size: 15px;
    }

    .row>.col-md-6 {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }
}

@media (max-width:846px) {
    .footer-link {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-grow: 1;
    }
}

@media (max-width:767px) {
    .row>.col-sm-9 {
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

@media (max-width:748px) {
    .mapButtom {
        padding: 0 10px;
        height: 29px;
        font-size: 12px;
    }

    .map-genInput {
        height: 20px;
        font-size: 14px;
    }
}

@media (max-width:690px) {
    .navBurger {
        display: block;
        margin-left: auto;
    }

    .header-buy-btn {
        display: none;
    }
}

@media (max-width:658px) {
    .adress-wrapper {
        display: flex;
        flex-direction: column;
        border: 1px solid #F0F0F0;
        border-radius: 12px;
        padding: 60px 20px 20px 20px;
    }

    .adress-wrapper h4 {
        font-family: 'Inter';
        color: #191919;
        margin-bottom: 16px;
    }

    .mapForm{
        position: relative;
    }
    .map-genInput{
        height: 40px;
        width: 310px;
        max-width: 100%;
    }

    .mapButtom{
        display: none;
    }

    .input-send{
        position: absolute;
        display: flex;
        right: 0;
        padding: 9px;
    }

    .input-send a i{
        padding: 0 10px;
        height: 38px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: max-content;
        margin: 0 auto;
        color: #F0F0F0;
        background: #000;
        background: #FF7010;
        border-radius: 6px;
        font-size: 16px;
    }
}


@media (max-width:610px) {
    .footer-link {
        flex-direction: column;
        justify-content: center;
    }

    .footer-logo a {
        margin-bottom: 15px;
    }
}